{% extends "layout.njk" %}
{% block head %}
  <title>Sobre - Tiago de Castro</title>
{% endblock %}

{% block conteudo %}

<!-- =-=-=-=-=-= conteudo =-=-=-=-=-= -->
  <div id="wrapper">
    <img
      src="https://avatars.githubusercontent.com/u/68354933?v=4"
      alt="Tiago de Castro"
    />
    <h1>Tiago de Castro</h1>
    <h2>Desenvolvedor - Estudante</h2>
    <p>
      Tenho 18 anos, atualmente estou no segundo período de
      <a href="">Análise e Desenvolvimento de Sistemas</a> . Estou sempre em
      busca de experiências que me possibilitem expandir minhas áreas de
      conhecimento.
    </p>
  </div>

<!-- =-=-=-=-=-= footer =-=-=-=-=-= -->

  <div class="links footer">

    <a href="https://github.com/Casmei" target="blank">Github</a>
    <a href="https://www.linkedin.com/in/tiago-de-castro-lima-3814911b9/" target="blank">Linkedin</a>
    <a href="https://www.instagram.com/tiago.cali/" target="blank">Instagram</a>

  </div>

{% endblock %}
