<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"
/>
{% extends "layout.njk" %}

{% block head %}
<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"/>
<title>Portfolio - Tiago de Castro</title>
{% endblock %}

{% block conteudo %}

    <div id="wrapper">
      <h1>Aulas</h1>
    </div>

    <section class="cards">

      {% for item in items %}
        <!-- 1 -->
        <div class="card">

          <div class="card__image-container {{ 'featured-wrapper' if item.featured }} " id="{{ item.id }}">
            <img src="https://img.youtube.com/vi/{{ item.id }}/maxresdefault.jpg" alt="Imagem de {{ item.title }}"/>
            {% if item.featured %}
              <div class="featured">Featured</div>
            {% endif %}
          </div>

          <div class="card__content">
            <p>{{ item.title }}</p>
          </div>

          <div class="card__info">
            <p>{{ item.duration }}</p>
            <p class="card__price">{{ item.price }}</p>
          </div>
          
        </div>
      {% endfor %}

    </section>

    <script src="/scripts.js"></script>

    {% endblock %}