* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

body {
  background-color: #282a36;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links {
  text-align: center;
}

.links > a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: whitesmoke;
  margin: 0 16px;
  padding-bottom: 3px;
}

.links > a:hover {
  color: var(--color-green);
  transition: color 400ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper > img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
  width: 300px;
}

#wrapper > h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper > h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-left: 8px;
}

#wrapper > p {
  max-width: 850px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}
#wrapper > p > a {
  color: var(--color-green);
  text-decoration: none;
}

.footer > a{
  border-bottom: 1px solid var(--color-green);
}

/* CARDS */

.cards {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color-rocket);
  border-radius: 4px;
  display: grid;
}

.card__image-container > img {
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.card__content,
.card__info {
  padding: 24px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card__price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/*  MODAL */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal > .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/*  MODAL ATIVO */

.modal-overlay.active{
  opacity: 1;
  visibility: visible;

}

iframe {
  width: 100%;
  height: 90%;
  top: 5%;
  position: absolute;

}

/* FEATURED */

.featured-wrapper.card__image-container {
  position: relative;
}

.featured {
  background-color: #f7d05f;
  color: #111;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 16px;
  position: absolute;
  right: 5px;
  top: -10px;
}

/* VIDEO PAGE */

.video {
  margin: 0 auto;
  max-width: 800px;
}

.video .card {
  cursor: initial;
}

.card__video-container {
  position: relative;
  width: 100%;
  padding-top: 62.5%;
}

.card__video-container  iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}

